@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-color: #8C4843;
    color: #8ACDEA;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.button-box {
    margin-top: 10px;
}

.navbar{
    text-align:center;
    color: #EDE6F2;
    margin: 20px;
    /* display: flex;
    justify-content: center;
    align-items: space-between; */
}

a{
    color: inherit;
    text-decoration: none;
}

p{
    margin-bottom: 10px;
}

.name-list {
    margin-top: 5px;
}

a:hover{
    color: #85B5CD;
}

.home-text {
    text-align: center;
    font-size: large;
    width: 75%;
    margin: auto;
}

.highlight {
    color: #EDE6F2;
}

ul {
    list-style: none;
    display: inline;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #2274A5;
    margin: 5px 2px 2px 2px;
    border-radius: 5px;
    width: 148px;
    height: 21px;
}

input{
    background-color: #E6AF2E;
    border-radius: 5px;
}

form { 
    margin: 0 auto; 
    width: 400px;
    display:inline;
    justify-content: center;
    align-items: center;
}


h3{
    display: inline-block;
    padding: 1%;
    margin-top: 3%;
}

.readings {
    padding: 5px;
}

h1{
    color: #85B5CD;
    margin: 10px;
    padding: 4px;
}

h4{
    margin: 5%;
    width: 50%;
}

.solutionBox {
    border-style: groove;
    border-color: #EDE6F2;
    margin: 5% 20% 2% 20%;
    width: auto;
}

label {
    text-align: left;
    display: inline-block;
    width: 270px;
}

h2 {
    margin: 10px;
}
