.navbar{
    text-align:center;
    color: #EDE6F2;
}

a{
    color: inherit;
}

.button {
    background-color: #2274A5;
    margin: 5px 2px 2px 2px;
    width: 20%;
    height: 5%;
}

input{
    background-color: #E6AF2E;
}

form { 
    margin: 0 auto; 
    width: 400px;
}

body{
    background-color: #9E643C;
    color: #8ACDEA;
    text-align: center;
}

h3{
    display: inline-block;
    padding: 1%;
    margin-top: 3%;
}

h1{
    color: #8ACDEA;
}

h4{
    margin: 5%;
    width: 40%;
}

.solutionBox {
    border-style: groove;
    border-color: #EDE6F2;
    margin-top: 5%;
    width: auto;
}




